# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Environment variable files
.env
.env.*
.env.local

# IDE & Editor files
.vscode/
.idea/
.DS_Store
.tern-port

# Build output (compiled TypeScript)
dist/

# Test coverage reports
coverage/